# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/
# (różne możliwe nazwy środowisk wirtualnych)

# IDE/Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
